<template>
  <require from="../misc/valueConverter"></require>
    <h3>Plugin Test: Aurelia-v-grid :</h3>
    
    <v-grid 
        v-grid-connector.bind="gridConnector" 
        v-header-height="50"
        style="width:900px;height:400px;user-select: none;border: solid 1px grey;">
     
      <v-grid-col 
          col-filter-menu="filter:country"
          col-label-menu="sort:country;groupby:country;groupbytitle:country" 
          col-width="200" 
          col-drag-drop="title:Country;field:country" 
          col-sort="field:country"
          col-filter="field:country" 
          col-field="country">
        </v-grid-col>
        

        <v-grid-col 
          col-filter-menu="filter:name"
          col-label-menu="sort:name" 
          col-width="200" 
          col-drag-drop="title:name x;field:name" 
          col-sort="field:name"
          col-filter="field:name" 
          col-field="name"
          col-pin-right="true">
        </v-grid-col>


        <v-grid-col
          col-filter-menu="filter:index;filterkey:less"
          col-header-name="index"
          col-label-menu="sort:index" 
          col-width="100" 
          col-sort="field:index;asc:false" 
          col-filter="field:index;operator:<;key:less"
          col-field="index | numberFormatter"
          col-pin-left="true">
        </v-grid-col>

        <v-grid-col
          col-filter-menu="filter:index;filterkey:greater"
          col-header-name="index"
          col-label-menu="sort:index" 
          col-width="100" 
          col-sort="field:index;asc:false" 
          col-filter="field:index;operator:>;key:greater" 
          col-field="index | numberFormatter"
          col-pin-left="true">
        </v-grid-col>
        
        <v-grid-col
          col-filter-menu="filter:high"
          col-label-menu="sort:high;groupby:high" 
          col-filter-menu="filter:high" 
          col-width="100" 
          col-drag-drop="title:high;field:high" 
          col-sort="field:high" 
          col-filter="field:high" 
          col-field="high">
        </v-grid-col>

        <v-grid-col
          col-filter-menu="filter:bool"
          col-label-menu="sort:bool;groupby:bool" 
          col-width="100" 
          col-sort="field:bool"
          col-drag-drop="title:bool x;field:bool" 
          col-filter="field:bool" 
          col-field="bool | booleanFormatter" 
          col-type="checkbox">
        </v-grid-col>

        <v-grid-col
          col-filter-menu="filter:number"
          col-label-menu="sort:number"  
          col-width="100"
          col-css="color:${tempRef.numberColor};font-weight:${tempRef.numberFont}"
          col-sort="field:number" 
          col-filter="field:number;operator:<" 
          col-display-edit="field:number;edit:editFormatNumber;display:displayFormatNumber"
          col-field="number">
        </v-grid-col>

      </v-grid>

</template>