<template>
  <footer md-footer class="orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Sample</h5>
          <p class="grey-text text-lighten-4">Sample is containing a lot of links to fusebox and aurelia components etc, figured I could have something useful in a sample</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Sites</h5>
          <ul>
            <li><a class="white-text" href="http://fuse-box.org/">Fuse-box Docs</a></li>
            <li><a class="white-text" href="http://aurelia.io/">Aurelia</a></li>
            <li><a class="white-text" href="http://aurelia.io/hub.html#/doc/persona/developer">Aurelia Docs</a></li>
            <li><a class="white-text" href="http://materializecss.com/">Materializecss</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Github repos</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/fuse-box/fuse-box">Fusebox</a></li>
            <li><a class="white-text" href="https://github.com/fuse-box/fuse-box-aurelia-loader">Fusebox-Aurelia-Loader</a></li>
            <li><a class="white-text" href="https://github.com/fuse-box/fuse-box-aurelia-seed">Fusebox-Aurelia-Seed</a></li>
            <li><a class="white-text" href="https://github.com/behzad888/awesome-aurelia">Awesome Aurelia</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Template by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
</template>
